<div class="empty"></div>
<div class="middle">
  <img class="image"
    src="https://raw.githubusercontent.com/hamedghd/myFlix-Angular-client/9f70c646983dc16b7b22b31d92fb48324400f28d/src/assets/myflix.png"
    alt="myflix-logo">
  <div class="right">
    <h1 class="title">
      Welcome to myFlix!
    </h1>
    <div>
      <button mat-raised-button (click)="openUserRegistrationDialog()" style="margin-right: 10px;"
        class="button-signUp">
        Sign Up
      </button>
      <button mat-raised-button class="button-login" (click)="openUserLoginDialog()">
        Login
      </button>
    </div>
  </div>
</div>
<div class="empty"></div>