.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100px;
  background-color: #4b3832;
  color: #fff4e6;

}

.links {
  display: flex;

}

.button {
  font-size: 24px;

}

@media (max-width: 500px) {
  .container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

  }
  .button {
    font-size: 20px;
  
  }
}

@media (max-width: 320px) {
  
  .button {
    font-size: 16px;
  
  }
}

